@import url("fonts.css");
/*@import url("reset.css");*/
/*html,
body {
  height: 100%;
}*/
/*.wrapper {
 min-height: 200px;
    display: flex;
    flex-wrap: wrap; ❶
    justify-content: space-between;
    align-items: center;
}*/

#container {
	background-color: #F6F2F1;
	width: 100%;
	min-height: auto;
}

#container #basic {
	margin: 0 160px;
}

@media (max-width: 620px) {
	#container #basic {
		margin-left: 0;
	}
}
nav {
	background-color: #313030;
	min-height: 90px;
	width: 100%;

}

nav ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 40px;
}

nav ul li {
	list-style-type: none;
	display: flex;
	align-items: stretch;
	/*margin: 0 10px;*/
}
#container nav a {
	text-decoration: none;
	color: #e0e0e0;
	font-family: os_bol;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 90px;	
	font-size: 90%;
}

#container nav li:hover {
	background-color: #ff3f40;
}

#container #basic main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	min-height: 190px;
	width: auto;
}

#container #basic .text-block {
	display: flex;
	flex-direction: column;
}

#container #basic .text-block a {
	-webkit-appearance: button;
	-moz-appearance: button;
	background-color: #ff2d2d;
	color: #fff; 
	font-family: os_bol;
	font-size: 90%;
	height: 35px; 
	width: 170px; 
	text-decoration: none; 
	list-style-type: none; 
	text-align: center;  
	padding-top: 10px;
	border-radius: 15px;
	margin-top: 20px;
}

#container #basic .text-block h1 {
	font-family: os_extrabol;
	font-size: 300%;
	margin: 0;
}

@media (max-width: 450px) {
	#container #basic .text-block h1 {
		font-size: 200%;
	}
}


#container #basic .text-block p {
	font-family: os;
	font-size: 75%;
}

#container #basic main .play a img {
	height: 65%;
	width: auto;
	margin-top: 15px;
	margin-right: -155px;
}

@media (max-width: 432px) {
	#container #basic main .play a img {
		height: 50%;
		width: auto;
	}
}

.provider {
	margin-top: 100px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.provider h2 {
	font-family: os_bol;
	font-size: 250%;
	margin: 0;
}

.provider .text_prov {
	display: flex;
	flex-direction: column;
	margin-right: 100px;
}

.provider .text_prov span a {
	color: #ff2d2d;
	font-family: os_bol;
	font-size: 150%;
	text-decoration: none;
	border: 2px solid #ff0000;
	border-radius: 5px;
	height: 51px;
	width: 222px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.provider .text_prov span {
	height: 51px;
	width: 222px;
}

.provider .choice_block_left {
	margin-right: 50px;
	margin-top: 15px;
}

.provider .choice_block_right {
	margin-top: 24px;
}

@media (max-width: 551px) {
	.provider .choice_block_right {
		margin-left: -50px;
	}
}

.provider .mini_block h6 {
	font-size: 110%;
	font-family: os_bol;
	margin-bottom: 0;
	margin-top: 10px;
	color: #4c4c4c;
}

.provider .line {
	height: 2px;
	width: 100%;
	background-color: #ececec;
	margin: 80px 160px;
}

.featur_prod .strong {
	display: flex;
	justify-content: center;
	font-family: os_bol;
	font-size: 270%;
	margin: 0;
}

.featur_prod p {
	display: flex;
	justify-content: center;
	margin: 0;
	font-size: 110%;
	font-family: os;
}



.red_line {
	height: 2px;
	width: 130px;
	background-color: #ff3b3b;
	border-bottom: 1px solid #ffd5d5;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 680px;
}

@media (max-width: 1300px) {
	.red_line {
	background-color: #fff;
	border-bottom: 1px solid #fff;
	}
}


.featur_prod .nav_2 {
	display: flex;
	justify-content: center;
}

.featur_prod .nav_2 ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media (max-width: 760px) {
	.featur_prod .nav_2 ul {
	display: flex;
	flex-direction: column;
	}
}

.featur_prod .nav_2 ul li {
	list-style-type: none;
}

.featur_prod .nav_2 ul li a {
	text-decoration: none;
	color: #4c4c4c;
	font-family: os;
	margin-right: 60px;
	font-weight: bold;
}

.featur_prod .nav_2 ul li a:hover {
	color: #ff2d2d;
}

.train {
	margin-left: 200px;
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 570px) {
	.train {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 360px;
	}
}

.train .grey {
	height: 300px;
	width: 280px;
	background-color: #f5f0dd;
	margin-left: 10px;
	margin-top: 10px;
}

@media (max-width: 1200px) {
	.train .grey {
	height: 100px;
	width: 80;
	}
}

.train #train_2 {
	display: flex;
	justify-content: center;
}

.meet .left_p_block {
	margin-left: 205px;
	margin-top: 140px;
}

.meet .left_p_block .block_1, .block_2, .block_3 {
	display: flex;
	justify-content: flex-start;
}

.meet .left_p_block .block_2 {
	margin-top: 35px;
}

.meet .left_p_block .block_3 {
	margin-top: 34px;
	margin-bottom: 70px;
}

.meet .red_line_2 {
	height: 2px;
	width: 130px;
	background-color: #ff3b3b;
	border-bottom: 1px solid #ffd5d5;
}

.red_chart {
	display: flex;
	/*justify-content: flex-start;*/
	flex-wrap: wrap;
}

@media (max-width: 1300px) {
	.red_chart {
		flex-direction: column;
	}
}

.red_chart .big_red_block {
	background-color: #ed052b;
	height: 450px;
	width: 220px;
	margin-right: 70px;
	margin-left: 130px;
}

@media (max-width: 1300px) {
	.red_chart .big_red_block {
		margin-left: 0;
	}
}

.red_chart .mark .text_mark h3 {
	font-size: 150%;
	font-family: os_bol;
}

.red_chart .mark .text_mark p {
	font-size: 110%;
	font-family: os;
}

.red_chart .mark .text_mark .soc_text {
	display: flex;
}

.red_chart .mark .text_mark .soc_text .text_ital {
	font-family: os_bol;
	margin-right: 27px;
	margin-bottom: 20px;
}

.red_chart .mark .set_blocks .set_bl_red {
	height: 200px;
	width: 200px;
	background-color: #ed052b;
	margin-right: 18px;
	margin-top: 18px;
}

.red_chart .mark .set_blocks {
	display: flex;
	flex-wrap: wrap;
}

.black_block {
	background-color: #2C2C2C;
	height: 510px;
	width: 100%;
	margin-top: 110px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.black_block .white_text {
	color: #fff;
	font-size: 200%;
	font-family: os_bol;
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	justify-content: center;
}

.black_block .cmall_text {
	color: #fff;
	font-family: os;
	display: flex;
	justify-content: center;
}

.black_block form {
	display: flex;
	justify-content: center;
		flex-wrap: wrap;
}

.black_block input[type="text"] {
	height: 78px;
	width: 522px;
	border-radius: 6px;
	color: #939393; 
	display: flex;
	justify-content: center;
	margin-right: 20px;
}

@media (max-width: 530px) {
	.black_block input[type="text"] {
		width: 300px;
	}
}

.black_block ::-webkit-input-placeholder  {
	margin-left: 3vw;
	font-size: 150%;
	display: flex;

}

.black_block input[type="button"] {
	height: 85px;
	width: 212px;
	border-radius: 6px;
	color: #fff;
	font-size: 110%;
	font-family: os_bol;
	background-color: #FF2D2D;
}

.white_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 165px;
	margin-top: 100px;
}

@media (max-width: 920px;) {
	.white_container {
		margin-left: 10px;
	}
}

.white_container .get {
	display: flex;
	flex-direction: column;
	
}

.white_container .get h3 {
	font-family: os_bol;
	font-size: 180%;
	margin-top: 0;
}

.white_container .get p {
	margin: 0;
	font-family: os;
}

.get .red_line_2 {
	height: 2px;
	width: 130px;
	background-color: #ff3b3b;
	border-bottom: 1px solid #ffd5d5;
	margin-top: 50px;
}

.white_container .communication {
	margin-top: 70px;
	display: flex;
/*	justify-content: flex-start;*/
	flex-wrap: wrap;
	/*margin-left: 1*/
}

.white_container .communication .com_for form .up_w_block  {
	display: flex;
	flex-wrap: wrap;
}

@media (max-width: 929px;) {
	.white_container .communication .com_for /*form*/ {
		display: flex;
		flex-direction: column;
	}


	
}

.white_container .communication .com_for form .up_w_block input[type="text"] {
	height: 68px;
	width: 336px;
	border-radius: 6px;
	background-color: #e5e5e5;
	color: #444444;
	font-family: os;
	font-size: 130%;
	margin-right: 50px;
	margin-bottom: 45px;
}

.white_container .communication .com_for form .dow_w_block input[type="text"] {
	height: 250px;
	width: 730px;
	border-radius: 6px;
	background-color: #e5e5e5;
	color: #444444;
	font-family: os;
	font-size: 130%;
	margin-right: 50px;
	margin-bottom: 45px;
}

.white_container .communication .com_for form .but_big input[type="button"] {
	height: 85px;
	width: 730px;
	border-radius: 6px;
	color: #fff;
	font-size: 110%;
	font-family: os_bol;
	background-color: #FF2D2D;
}

.white_container .communication .black_contact {
	background-color: #2d2d2d;
	color: #d5d5d5;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

@media (max-width: 1320px;) {
	.white_container .communication .black_contact {
		margin-top: 40px;
	}
}

.white_container .communication .black_contact .bas_mas h4 {
	font-family: os_bol;
	font-size: 120%;
}

.white_container .communication .black_contact .bas_mas {
	margin-left: 80px;
	margin-right: 10px;
}

footer {
	background-color: #313030;
	display: flex;
	justify-content: space-between;
	height: 20vh;
	margin-top: 110px;
}

footer p {
	margin: 0;
	margin-left: 10vw;
	display: flex;
	align-items: center;
	font-family: "os";
	color: #B8B8B8;
}

footer .social {
	margin-right: 10vw;
	display: flex;
	align-items: center;
}

footer .social a {
	margin-left: 17px;
}

footer p, .social {
	margin-top: 15px;
}